<<<<<<< HEAD
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

/* Reset */
body,img,p,h1,h2,h3,h4,h5,h6,ul,ol {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  font-family: 'lato';
}
/* End Reset */

* {transition: .4s ease-in-out 0s;}

.wrapper {
  margin: 2% 0;
  float: left;
  width: 100%;
}

body {
  font-size: .9em;
  font-family: 'lato';
  background-image: url(../img/blurry.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

h1 {
  padding: .5em;
}

h1 a {
  font-size: 1em;
  text-decoration: none;
  text-align: center;
  color: #fff;
  display: block;
  text-shadow: 2px 2px #8E4B0A;
}


/*.box{width:90%;float:left;margin:0.8%;}*/

.box h2 {
  clear: both;
  margin: .2em;
}

.box h2 a {
  text-decoration: none;
  font-size: .5em;
  padding: 3px 3px 5px 3px;
  color: #000;
  line-height: 1.3em;
  display: block;
}

.box .posted {
  float: left;
  font-size: 0.7em;
  font-style: italic;
  margin: 0.4em;
}

.box p {
  float: left;
  clear: both;
  font-size: 0.8em;
  margin: .4em;
}

.refresh {
  background: url(../img/refresh.png) no-repeat 0 0;
  width: 24px;
  height: 24px;
  display: block;
}

.widget-head .refresh {
  float: right;
}

#weatheredit {
  margin: 0 auto;
  width: 50%;
}

@media only screen and (max-device-width: 720px) {
  .box h2 a {
    text-decoration: none;
    font-size: 1.3em;
    padding: 3px 3px 5px 3px;
    background: #ccc;
    color: #333;
    text-shadow: 2px 2px #F2F2F2;
    line-height: 1.3em;
    margin-bottom: 1em;
  }
  .box .posted {
    display: none;
  }
  .box {
    border-bottom: 1px inset#333;
  }
  .column h1 a {
    font-size: 2em;
    text-decoration: none;
    text-align: center;
    color: #fff;
    display: block;
    text-shadow: 2px 2px #8E4B0A;
  }
}


/* iPhone 4 [portrait + landscape] */

@media only screen and (max-device-width: 480px) {
  .box .posted {
    display: none;
  }
  .box h2 a {
    text-decoration: none;
    font-size: 1.5em;
    padding: 3px 3px 5px 3px;
    background: #ccc;
    color: #333;
    text-shadow: 2px 2px #F2F2F2;
    line-height: 1.3em;
    margin-bottom: 1em;
  }
  .box p {
    float: left;
    clear: both;
    font-size: 1.3em;
    margin: .4em;
  }
  .box {
    border-bottom: 1px inset#333;
  }
}

#head h1,
#head h2,
#head h3,
#head h4,
#head h5,
#head span {
  text-align: center;
  color: #fff;
  font-family: 'lato';
}

#head h1 {
  font-size: 40px;
  padding: 0;
}

#head h2 {
  font-size: 30px;
}

#head h3 {
  font-size: 20px;
}

#head h4 {
  font-size: 15px;
}

#head h5 {
  font-size: 10px;
}

#head h6 {
  font-size: 18px;
}

.temp-container{
  text-align: center;
  width:113px;
  margin:0 auto;
}

#temperature{float: left;padding-right:8%;}

.lz-container {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  min-width: 445px;
}

.lz-container .box {
  float: left;
  padding: 20px;
  min-height: 50px;
  position: relative;

}

.lz-container .box h1,
.lz-container .box h2,
.lz-container .box h3,
.lz-container .box h4 {
  margin: 0;
}

.lz-container .box:hover .edit {
  display: block;
}

.lz-container .box .icon {
  height: 100px;
  width: 80px;
  position: absolute;
}

.lz-container .box .content {
  width: 100%;
}

.lz-container .box .edit {
  display: none;
  position: absolute;
  top: 4px;
  right: 17px;
}

.lz-container .box .btn {
  margin-right: 15px;
}

#weather .wi {
  color: #fff;
  display: block;
  float: left;
  font-size: 2.5em;
  margin-bottom:5px;
  text-align: center;
}


/*Inettuts CSS*/


/* Colors */

.color-yellow {
  background: #f2bc00;
}

.color-red {
  background: #d00;
}

.color-blue {
  background: #36f;
}

.color-white {
  background: #dfdfdf;
}

.color-orange {
  background: #f66e00;
}

.color-green {
  background: #8dc100;
}

.color-black {
  background: #222;
}

.color-yellow h3,
.color-white h3,
.color-green h3 {
  color: #000;
}

.color-red h3,
.color-blue h3,
.color-orange h3,
.color-black h3 {
  color: #FFF;
}


/* End Colors */

#head {
  min-height: 175px;
}


/* End Head Section */


/* Columns section */

#columns .column {
  float: left;
  width: 33.3%;
  /* Min-height: */
  min-height: 400px;
  height: auto!important;
  height: 400px;
}


/* Column dividers (background-images) : */

#columns #column1 .widget {
  margin: 10px;
}

#columns .widget:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#columns .widget:hover .widget-head {
  background: #d1d1d1;
}

#columns #column3 .widget {
  margin: 10px;
}

#columns .widget {
  margin: 10px;
  border: 1px solid #DCDCDC;
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
}

#columns .widget .widget-head {
  color: #000;
  overflow: hidden;
  width: 100%;
  background: #F5F5F5;
}

#columns .widget .widget-head h3 {
  padding: 10px 5px;
  float: left;
  margin: 0;
  font-size: 1.3em;
  line-height: 1.3em;
}

#columns .widget .widget-head span:hover {
  cursor: pointer;
}

#columns .widget .widget-content {
  padding: 0 5px;
  color: #000;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  line-height: 1.2em;
  overflow: hidden;
}

#columns .widget .widget-content p {
  padding: .8em 0;
  border-bottom: 1px solid #666;
}

#columns .widget .widget-content img {
  float: right;
  margin: 10px;
  border: 1px solid #FFF;
}

#columns .widget .widget-content pre {
  padding: .5em 5px;
  color: #EEE;
  font-size: 12px;
}

#columns .widget .widget-content ul {
  padding: 5px 0 5px 20px;
  list-style: disc;
}

#columns .widget .widget-content ul li {
  padding: 3px 0;
}

#columns .widget .widget-content ul.images {
  padding: 7px 0 0;
  list-style: none;
  height: 1%;
}

#columns .widget .widget-content ul.images li {
  display: inline;
  float: left;
}

#columns .widget .widget-content ul.images img {
  display: inline;
  float: left;
  margin: 0 0 7px 7px;
}


/* End Columns section */

.wrapper {
  margin: 2% 0;
  float: left;
  width: 100%;
}

h1 {
  padding: .5em;
}

h1 a {
  font-size: 1em;
  text-decoration: none;
  text-align: center;
  color: #fff;
  display: block;
  text-shadow: 2px 2px #8E4B0A;
}


/*.box{width:90%;float:left;margin:.8%;}
.box h2{clear:both;margin:.2em;}
.box h2 a{text-decoration:none;font:normal .6em/1em 'Open Sans Condensed';padding:3px 3px 5px;color:#000;margin-bottom:1em;}
.box h2 a:hover{background-color: #ccc;}
.box .posted{float:left;font-size:.7em;font-style:italic;margin:.4em;}
.box p{float:left;clear:both;font-size:.8em;margin:.4em;}*/

li .widget-head span {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 15px;
  width: 15px;
}

li .glyphicon-fullscreen {
  display: block;
}

li .glyphicon-remove-circle,
li.maximize .glyphicon-fullscreen {
  display: none;
}

li.maximize .glyphicon-remove-circle {
  display: block;
}

body>.maximize {
  position: relative;
}

@media screen and (max-width: 720px) {
  #columns .column {
    width: 100%;
  }
  .box h2 a {
    text-decoration: none;
    font-size: .6em;
    padding: 3px 3px 5px;
    background: #ccc;
    color: #333;
    text-shadow: 2px 2px #F2F2F2;
    line-height: 1.3em;
    margin-bottom: 1em;
  }
  .box .posted {
    display: none;
  }
  .column h1 a {
    font-size: 2em;
    text-decoration: none;
    text-align: center;
    color: #fff;
    display: block;
    text-shadow: 2px 2px #8E4B0A;
  }
}


/* iPhone [portrait + landscape] */

@media screen and (max-width: 480px) {
  .lz-container .box {padding:5px;}
  #columns .column {
    width: 100%;
  }
  .box .posted {
    display: none;
  }
  .box h2 a {
    text-decoration: none;
    font-size: .6em;
    padding: 3px 3px 5px;
    background: #ccc;
    color: #333;
    text-shadow: 2px 2px #F2F2F2;
    line-height: 1.3em;
    margin-bottom: 1em;
  }
  .box p {
    float: left;
    clear: both;
    font-size: 1.3em;
    margin: .4em;
  }
}

.header-post-title-container {
  border-bottom: 1px solid #EAE5B9;
  box-shadow: 0 0 30px rgba(255, 250, 199, 0.95) inset;
}

.loader {
  background: url(../img/ajax-loader.gif) no-repeat center center;
  width: 128px;
  height: 32px;
}

/* -------------------------------------- *\
    Loader
\* -------------------------------------- */
#noTrespassingOuterBarG {
  height: 19px;
  width: 156px;
  border: 1px solid rgba(206, 55, 0, 0.38);
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  margin: auto;
}

.noTrespassingBarLineG {
  background-color: rgb(206, 55, 0);
  float: left;
  width: 14px;
  height: 117px;
  margin-right: 23px;
  margin-top: -27px;
  transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}

.noTrespassingAnimationG {
  width: 230px;
  animation-name: noTrespassingAnimationG;
  -o-animation-name: noTrespassingAnimationG;
  -ms-animation-name: noTrespassingAnimationG;
  -webkit-animation-name: noTrespassingAnimationG;
  -moz-animation-name: noTrespassingAnimationG;
  animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  -ms-animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}

@keyframes noTrespassingAnimationG {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -37px;
  }
}

@-o-keyframes noTrespassingAnimationG {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -37px;
  }
}

@-ms-keyframes noTrespassingAnimationG {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -37px;
  }
}

@-webkit-keyframes noTrespassingAnimationG {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -37px;
  }
}

@-moz-keyframes noTrespassingAnimationG {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -37px;
  }
}
=======
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
/* Reset */body,img,p,h1,h2,h3,h4,h5,h6,ul,ol{margin:0;padding:0;list-style:none;border:none;}
/* End Reset */
body{font-size:.9em;font-family:'Lato', sans-serif;background-image:url(../img/blurry.jpg);background-repeat:no-repeat;background-attachment:fixed;background-position:center;background-size:cover;}
*{transition: .4s ease-in-out 0s;}.wrapper{margin:2% 0;float:left;width:100%;}
.loader{background: url(../img/ajax-loader.gif) no-repeat center center;width:128px;height:32px;}
h1{padding:.5em;}
h1 a{font-size:1em;text-decoration:none;text-align:center;color:#fff;display:block;text-shadow:2px 2px #8E4B0A;}
/*.box{width:90%;float:left;margin:0.8%;}*/
.box h2{clear:both;margin:.2em;}
.box h2 a{text-decoration:none;font-size:.5em;padding:3px 3px 5px 3px;color:#000;line-height:1.3em;display: block;}
.box .posted{float:left;font-size:0.7em;	font-style: italic;margin: 0.4em;}
.box p{float:left;clear:both;font-size: 0.8em;margin:.4em;}

.refresh{background: url(../img/refresh.png) no-repeat 0 0;width:24px;height:24px;display: block;}
.widget-head .refresh{float: right;}
#weatheredit{margin: 0 auto;width: 50%;}
@media only screen and (max-device-width: 720px) {				
  .box h2 a{text-decoration:none;font-size:1.3em;padding:3px 3px 5px 3px;background:#ccc;color:#333;text-shadow: 2px 2px #F2F2F2;line-height:1.3em;margin-bottom:1em;}
  .box .posted{display:none;}
  .box{border-bottom:1px inset#333;}
  .column h1 a{font-size:2em;text-decoration:none;text-align:center;color:#fff;display:block;text-shadow:2px 2px #8E4B0A;}
}
/* iPhone 4 [portrait + landscape] */
@media only screen and (max-device-width: 480px){
  .box .posted{display:none;}
  .box h2 a{text-decoration:none;font-size:1.5em;padding:3px 3px 5px 3px;background:#ccc;color:#333;text-shadow: 2px 2px #F2F2F2;line-height:1.3em;margin-bottom:1em;}
  .box p{float:left;clear:both;font-size: 1.3em;margin:.4em;}
  .box{border-bottom:1px inset#333;}
}

#head h1, #head h2, #head h3, #head h4, #head h5, #head span{text-align: center;color:#fff;}
#head h1{font-size: 50px;padding: 0;}
#head h2{font-size: 40px;}
#head h3{font-size: 30px;}
#head h4{font-size: 25px;}
#head h5{font-size: 20px;}
#head h6{font-size: 18px;}
.lz-container{width:100%;background:rgba(0, 0, 0, 0.5);min-width: 445px;}
.lz-container .box{float: left;padding:20px  ;min-height:140px;position: relative;}
.lz-container .box h1,
.lz-container .box h2,
.lz-container .box h3,
.lz-container .box h4{margin:0;}
.lz-container .box:hover .edit{display:block;}
.lz-container .box .icon{height:100px;width:80px;position:absolute;}
.lz-container .box .content{width:100%;}
.lz-container .box .edit{display:none;position:absolute;top:4px;right:17px;}
.lz-container .box .btn{margin-right:15px;}
#weather .wi {color: #fff;display: block;float: left;font-size: 3em;text-align: center;}

/*Inettuts CSS*/
/* Colors */
.color-yellow{background:#f2bc00;}
.color-red{background:#d00;}
.color-blue{background:#36f;}
.color-white{background:#dfdfdf;}
.color-orange{background:#f66e00;}
.color-green{background:#8dc100;}
.color-black{background:#222;}
.color-yellow h3,.color-white h3,.color-green h3{color:#000;}
.color-red h3,.color-blue h3,.color-orange h3,.color-black h3{color:#FFF;}
/* End Colors */
#head{min-height: 175px;}
/* End Head Section */
/* Columns section */
#columns .column{float:left;width:33.3%;/* Min-height: */min-height:400px;height:auto!important;height:400px;}
/* Column dividers (background-images) : */

#columns #column1 .widget{margin:10px;}
#columns .widget:hover{box-shadow:0 2px 4px rgba(0,0,0,0.2);}
#columns .widget:hover .widget-head{background:#d1d1d1;}
#columns #column3 .widget{margin:10px;}
#columns .widget{margin:10px;border:1px solid #DCDCDC;position: relative;background-color: rgba(255, 255, 255, 0.8);}
#columns .widget .widget-head{color:#000;overflow:hidden;width:100%;background:#F5F5F5;}
#columns .widget .widget-head h3{padding:0 5px;float:left;margin:0;font-size:1.3em;line-height: 40px;}
#columns .widget .widget-head span:hover{cursor: pointer;}
#columns .widget .widget-content{padding:0 5px;color:#DDD;-moz-border-radius-bottomleft:2px;-moz-border-radius-bottomright:2px;-webkit-border-bottom-left-radius:2px;-webkit-border-bottom-right-radius:2px;line-height:1.2em;overflow:hidden;}
#columns .widget .widget-content p{padding:.8em 0;border-bottom:1px solid #666;}
#columns .widget .widget-content img{float:right;margin:10px;border:1px solid #FFF;}
#columns .widget .widget-content pre{padding:.5em 5px;color:#EEE;font-size:12px;}
#columns .widget .widget-content ul{padding:5px 0 5px 20px;list-style:disc;}
#columns .widget .widget-content ul li{padding:3px 0;}
#columns .widget .widget-content ul.images{padding:7px 0 0;list-style:none;height:1%;}
#columns .widget .widget-content ul.images li{display:inline;float:left;}
#columns .widget .widget-content ul.images img{display:inline;float:left;margin:0 0 7px 7px;}
/* End Columns section */
.wrapper{margin:2% 0;float:left;width:100%;}
h1{padding:.5em;}
h1 a{font-size:1em;text-decoration:none;text-align:center;color:#fff;display:block;text-shadow:2px 2px #8E4B0A;}
/*.box{width:90%;float:left;margin:.8%;}
.box h2{clear:both;margin:.2em;}
.box h2 a{text-decoration:none;font:normal .6em/1em 'Open Sans Condensed';padding:3px 3px 5px;color:#000;margin-bottom:1em;}
.box h2 a:hover{background-color: #ccc;}
.box .posted{float:left;font-size:.7em;font-style:italic;margin:.4em;}
.box p{float:left;clear:both;font-size:.8em;margin:.4em;}*/

li .widget-head span{position: absolute;top:0;right:0;cursor: pointer;font-size: 15px;width:15px;}
li .glyphicon-fullscreen{display: block;}
li .glyphicon-remove-circle, li.maximize .glyphicon-fullscreen{display: none;}
li.maximize .glyphicon-remove-circle{display: block;}
body>.maximize{position: relative;}

@media screen and (max-width: 720px) {
  #columns .column{width:100%;}
  .box h2 a{text-decoration:none;font-size:.8em;padding:3px 3px 5px;background:#ccc;color:#333;text-shadow:2px 2px #F2F2F2;line-height:1.3em;margin-bottom:1em;}
  .box .posted{display:none;}
  .column h1 a{font-size:2em;text-decoration:none;text-align:center;color:#fff;display:block;text-shadow:2px 2px #8E4B0A;}
}
/* iPhone [portrait + landscape] */
@media screen and (max-width: 480px) {
  #columns .column{width:100%;}
  .box .posted{display:none;}
  .box h2 a{text-decoration:none;font-size:1.5em;padding:3px 3px 5px;background:#ccc;color:#333;text-shadow:2px 2px #F2F2F2;line-height:1.3em;margin-bottom:1em;}
  .box p{float:left;clear:both;font-size:1.3em;margin:.4em;}
}


.header-post-title-container{border-bottom: 1px solid #EAE5B9;box-shadow: 0 0 30px rgba(255, 250, 199, 0.95) inset;}
>>>>>>> 326e2a79f17e3b750e4692caacae63534ee35da1
